<a href="https://colab.research.google.com/github/suyoung0211/python/blob/main/A_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 간단한 단축키
- Ctrl + M , 다른 알파벳
  * Y : 코드셀 전환
  * M : 텍스트셀 전환
  * A : above   위의 셀 추가
  * B : bottom  아래의 셀 추가
  * J : 현재 셀 아래로 이동
  * K : 현재셀 위로 이동
  * D : 현재 셀 삭제
  * Z : 실행 취소

- 실행
  * Ctrl + Enter  : 실행 후 현재 셀
  * Shift + Enter : 실행 후 다음 셀

In [ ]:
# 표준 출력
print('hi 파이썬')

hi 파이썬

### 기본 산술 연산
- +, -, * 는 다른 언어의 연산과 유사
- / (나눗셈) : 실수 결과
- // : 정수 몫
- % : 나머지 연산

In [ ]:
print("10/3  = ", 10/3)
print("10//3 = ", 10//3)  # 몫
print("10%3  = ", 10%3)   # 나머지

10/3  =  3.3333333333333335
10//3 =  3
10%3  =  1

### 문자열 포맷
- 1. 문자열.format() 메소드
- 2. f-string : 위의 1번에서 메소드를 생략한 축약 형식

In [ ]:
# {필드명 : 형식지정자}
# 필드명은 값의 이름 또는 인덱스 또는 생략(순서대로 대입)
# 형식지정자는 숫자, 소숫점 등 출력 형식 또는 생략
# {} 기호의 갯수와 값의 갯수가 일치되도록 합니다.

# 1. 필드명이 생략된 경우
print('내친구: {} {}'.format('모모', '나나'))
print("이름: {}, 나이: {}, 점수: {:.2f}".format('하니', 20, 95.678))

# 2. 필드명이 인덱스인 경우(값의 순서 중요)
print("첫 번째: {0}, 두 번째: {1}, 다시 첫 번째: {0}".format("🥪🥪", "🍖🍖"))

# 3. 필드명이 이름인 경우(값의 순서 중요하지 않음)
print("이름: {name}, 나이: {age}".format(age=20, name="GD"))

# 4. 형식지정자를 사용한 경우
print("숫자: {:,}".format(1234567890))
print("16진수: {:x}, 8진수: {:o}, 2진수: {:b}".format(255, 255, 255))

내친구: 모모 나나
이름: 하니, 나이: 20, 점수: 95.68
첫 번째: 🥪🥪, 두 번째: 🍖🍖, 다시 첫 번째: 🥪🥪
이름: GD, 나이: 20
숫자: 1,234,567,890
16진수: ff, 8진수: 377, 2진수: 11111111

In [ ]:
# 5. 형식지정자에 출력값 정렬 위치
# < 왼쪽, > 오른쪽, ^ 중앙 이며 뒤의 숫자는 출력 폭
print('값 : {:<10}'.format('left'))
print('값 : {:>10}'.format('right'))
print('값 : {:^10}'.format('center'))

값 : left
값 :      right
값 :   center

In [ ]:
a=122
b=244
print(f'{a} + {b} = {a+b}')
print(f'10진수 : {a} , 16진수 : {a:04x}') # 폭 4, 앞의 공백은 0으로 채움
print(f'10진수 : {b} , 16진수 : {b:4x}')

122 + 244 = 366
10진수 : 122 , 16진수 : 007a
10진수 : 244 , 16진수 :   f4

In [ ]:
# Jupyter Notebook 은 Ipython 대화형 환경
# print 문 없이 마지막에 실행한 수식, 값을 자동으로 출력시킵니다.
a
b

244

In [ ]:
# print 실행 마지막 문자열 지정(기본값은 줄바꿈)
print('하나', end='🌟')
print('둘')

하나🌟둘

In [ ]:
# print 로 나열된 문자열 구분 지정(기본값은 공백)
print('하나', '둘', '셋')
print('하나', '둘', '셋', sep='🌟')
print('넷')

하나 둘 셋
하나🌟둘🌟셋
넷

In [ ]:
# Escape 문자, \ 기호로 시작하는 기능 문자
print('One\t', 'Two\n', '\tThree', sep='')

One	Two
	Three