<a href="https://colab.research.google.com/github/suyoung0211/python/blob/main/E_collectiontype_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 컬렉션
- 여러개의 데이터를 저장하는 자료구조
- list(), dict(), tuple(), set() 은 컬렉션 내장클래스의 생성자(함수)

### 리스트
- 기호는 [ ] 사용
- 자바와는 다르게 서로 다른 데이터 타입들 저장 가능합니다.
- __슬라이싱__ 기능은 문자열의 슬라이싱과 매우 유사합니다.
- 다른 형식의 데이터를 리스트로 변환할 때 , list() 내장 함수 사용합니다.
- 문자열과 동일하게 len() 내장 함수로 리스트의 크기(갯수) 를 구합니다.
- 리스트는 가변객체 입니다.

In [ ]:
li1=[1,3,5,7,9]   # 리스트 : 모든 요소의 데이터 타입이 같은 예시
print('li1 =', li1)
print('len(li1) :', len(li1))
print('type(li1) :', type(li1))

li1 = [1, 3, 5, 7, 9]
len(li1) : 5
type(li1) : <class 'list'>

In [ ]:
# 각각 다른 데이터 형식을 저장하는 것이 가능
li1 = [1,50.9, '김🍕','이🍟',True]
print('li1 =', li1)
print('len(li1) :', len(li1))
print('type(li1) :', type(li1))
print('li1[-1] =', li1[-1])
print('type(li1[-1]) :', type(li1[-1]))
print('li1[-2] =', li1[-2])
print('type(li1[-2]) :', type(li1[-2]))

li1 = [1, 50.9, '김🍕', '이🍟', True]
len(li1) : 5
type(li1) : <class 'list'>
li1[-1] = True
type(li1[-1]) : <class 'bool'>
li1[-2] = 이🍟
type(li1[-2]) : <class 'str'>

In [ ]:
#  리스트는 가변 객체 - 특정요소 값 변경 가능
print('li1 =', li1)
li1[3] = '김땡땡'
# li1[5] = '김땡땡'  # IndexError: list assignment index out of range
print('li1 =', li1)

li1 = [1, 50.9, '김🍕', '이🍟', True]
li1 = [1, 50.9, '김🍕', '김땡땡', True]

### 문자열에서 리스트로 변환
- list() 함수
- 문자열의 split 메소드

In [ ]:
# 문자열 'hello python'을 list로 변환
li2 = list('hello python')
print('li2 =', li2)
print('type(li2) :', type(li2))
print('len(li2) :', len(li2))

li2 = ['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']
type(li2) : <class 'list'>
len(li2) : 12

In [ ]:
### 문자열 분리
text = '반도체·배터리·바이오… 한국형 AI 연구모델 만든다'
li3= text.split()   # 구분문자는 공백이 기본값
print('li3 =', li3)
print('type(li3) :', type(li3))

li3 = ['반도체·배터리·바이오…', '한국형', 'AI', '연구모델', '만든다']
type(li3) : <class 'list'>

In [ ]:
import re
li3 = re.split(r'·|…\s*|\s+', text)
print('li3 =', li3)
print('type(li3) :', type(li3))

li3 = ['반도체', '배터리', '바이오', '한국형', 'AI', '연구모델', '만든다']
type(li3) : <class 'list'>

### 인덱싱

리스트의 각 항목은 위치(인덱스)를 가지고 있으며, 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 시작합니다.

In [ ]:
print('li3[0] =', li3[0])
print('type(li3[0]) :', type(li3[0]))
# print(li3[8])  # IndexError: list index out of range

li3[0] = 반도체
type(li3[0]) : <class 'str'>

In [ ]:
# 문자열 연결 연산
print('li3[-1] =', li3[-1])
print("li3[-1]+'😏' =>", li3[-1]+'😏')

li3[-1] = 만든다
li3[-1]+'😏' => 만든다😏

In [ ]:
# 리스트 안의 리스트 : 파이썬의 특징
li4=[1,2,'파이썬',['AI',False]]
print('li4 =', li4)
print('type(li4[1]) :', type(li4[1]))
print('type(li4[3]) :', type(li4[3]))
print('li4[3][0] =', li4[3][0])      # 인덱싱
print('li4[3][1] =', li4[3][1])      # 인덱싱
print('type(li4[3][1]) :', type(li4[3][1]))

li4 = [1, 2, '파이썬', ['AI', False]]
type(li4[1]) : <class 'int'>
type(li4[3]) : <class 'list'>
li4[3][0] = AI
li4[3][1] = False
type(li4[3][1]) : <class 'bool'>

### 슬라이싱

- 리스트의 일부분만을 추출
- 형식 : list[start:stop:step]  (문자열도 동일함)
  * start : 슬라이싱 시작 인덱스 (생략 가능, 기본값은 0)
  * stop : 슬라이싱 종료 인덱스 (해당 인덱스의 요소는 포함되지 않음)
  * step : 요소를 선택하는 간격 (생략 가능, 기본값은 1)

In [ ]:
# 문자열 슬라이싱과 동일하게 적용
str1 = '반도체·배터리·바이오… 한국형 AI 연구모델 만든다'
print('str1 =', str1)
print('str1[2:15:2] =', str1[2:15:2])     # 문자열 리턴

str1 = 반도체·배터리·바이오… 한국형 AI 연구모델 만든다
str1[2:15:2] = 체배리바오 국

In [ ]:
li5=['반도체', '배터리', '바이오', '한국형', 'AI', '연구모델', '만든다']
print('li5 =', li5)
print('li5[0::2] =', li5[0::2])
print('li5[0:3] =', li5[0:3])    # 슬라이싱 : 결과가 리스트이다.
print('type(li5[0:3]) :', type(li5[0:3]))
print('li5 =', li5)              # li5 원본 리스트는 변경되지 않음.
result = li5[0:3]
print('result = li5[0:3]')
print('result =', result)

li5 = ['반도체', '배터리', '바이오', '한국형', 'AI', '연구모델', '만든다']
li5[0::2] = ['반도체', '바이오', 'AI', '만든다']
li5[0:3] = ['반도체', '배터리', '바이오']
type(li5[0:3]) : <class 'list'>
li5 = ['반도체', '배터리', '바이오', '한국형', 'AI', '연구모델', '만든다']
result = li5[0:3]
result = ['반도체', '배터리', '바이오']

In [ ]:
li6 = [10, 20, 30, ['김사과', '오렌지', '반하나'], 40, ['🍕', '🍔']]
print('li6 =', li6)
li6[4] = ['🌟', '🌊','🍀','🐍']
print('li6[4] =', li6[4])
li6[5] = ['🍕', '🍔','🍟','🌭','🍿']
print('li6[5] =', li6[5])
print('li6 =', li6)

li6 = [10, 20, 30, ['김사과', '오렌지', '반하나'], 40, ['🍕', '🍔']]
li6[4] = ['🌟', '🌊', '🍀', '🐍']
li6[5] = ['🍕', '🍔', '🍟', '🌭', '🍿']
li6 = [10, 20, 30, ['김사과', '오렌지', '반하나'], ['🌟', '🌊', '🍀', '🐍'], ['🍕', '🍔', '🍟', '🌭', '🍿']]

In [ ]:
# 위에서 햄버거,감자튀김,핫도그를 슬라이싱 해보세요. 2가지 방법 있음.(hint.음수 인덱스 사용)
print('li6[5][1:4] =', li6[5][1:4])
print('li6[5][1:-1] =', li6[5][1:-1])

li6[5][1:4] = ['🍔', '🍟', '🌭']
li6[5][1:-1] = ['🍔', '🍟', '🌭']

In [ ]:
print('li6[5][1:] =', li6[5][1:])

li6[5][1:] = ['🍔', '🍟', '🌭', '🍿']

### 리스트 항목 수정, 추가, 삭제
- 리스트는 __가변 객체__ 입니다. 따라서 수정 / 추가 / 삭제 연산으로 리스트 원본 변경가능합니다.

In [ ]:
# 슬라이싱을 이용하여 요소를 추가한 경우 값이 슬라이싱 위치의 값이 대체
li7 = [10, 20, 30, 40, 50]
print('li7 =', li7)
print('len(li7) :', len(li7))
li7[1:3] = ['😁','😂','😎','😍']
print('li7 =', li7)
print('len(li7) :', len(li7))

li7 = [10, 20, 30, 40, 50]
len(li7) : 5
li7 = [10, '😁', '😂', '😎', '😍', 40, 50]
len(li7) : 7

In [ ]:
# 인덱싱을 이용하여 요소를 추가한 경우 리스트 안에 리스트를 만들고 포함(차원이 증가)
li8 = [10, 20, 30, 40, 50]
print('li8 =', li8)
li8[1] = ['😁','😂','😎','😍']
print('li8 =', li8)

li8 = [10, 20, 30, 40, 50]
li8 = [10, ['😁', '😂', '😎', '😍'], 30, 40, 50]

In [ ]:
print('li8 =', li8)
print('li8[1:3] =', li8[1:3])
li8[1:3] = [] # 빈 리스트를 슬라이싱을 통해 저장하면 해당 요소가 삭제됨
print('li8 =', li8)

li8 = [10, ['😁', '😂', '😎', '😍'], 30, 40, 50]
li8[1:3] = [['😁', '😂', '😎', '😍'], 30]
li8 = [10, 40, 50]

In [ ]:
# 인덱싱을 이용하여 요소를 추가한 경우 리스트 안에 리스트를 만들고 포함(차원이 증가)
li8 = [10, 20, 30, 40, 50]
print('li8 =', li8)
li8[1] = ['😁','😂','😎','😍']
li8[1] = []   # 인덱싱으로 빈 리스트를 저장하면?
print('li8 =', li8)

li8 = [10, 20, 30, 40, 50]
li8 = [10, [], 30, 40, 50]

In [ ]:
# 리스트 삭제
li9 = [10, 20, 30, 40, 50]
print('li9 =', li9)
del li9[1]
print('li9 =', li9)

li9 = [10, 20, 30, 40, 50]
li9 = [10, 30, 40, 50]

### 리스트 연산
- 새로운 리스트 생성하여 리턴

In [ ]:
li7=[10,20,30]
li8=[40,50,60]
print('li7 =', li7)
print('li8 =', li8)
# 리스트 연산
print('li7+li8 =', li7+li8)
print('li8+li7 =', li8+li7)

li7 = [10, 20, 30]
li8 = [40, 50, 60]
li7+li8 = [10, 20, 30, 40, 50, 60]
li8+li7 = [40, 50, 60, 10, 20, 30]

In [ ]:
li7=[10,20,30]
print('li7 =', li7)
li7=li7 + [100,200]   # 리스트 연결
print('li7 =', li7)
li7 += [1,2]   # 리스트 연결하는 연산을 축약 대입 연산으로 변경 가능합니다.
print('li7 =', li7)

li7 = [10, 20, 30]
li7 = [10, 20, 30, 100, 200]
li7 = [10, 20, 30, 100, 200, 1, 2]

In [ ]:
li7=[10,20,30]
print('li7 =', li7)
print('li7 * 3 =', li7*3)   # 리스트 연결을 반복하는 * 연산

li7 = [10, 20, 30]
li7 * 3 = [10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# 문자열 연결 연산하는 문제.
li7=[10,20,30]
print('li7 =', li7)
print('li7[0] + li7[2] =', li7[0]+li7[2])   # 인덱싱한 정수값을 덧셈
li7[1]='🍔'    # str
print('li7 =', li7)
# print(li7[0]+li7[1])  # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# 오류를 수정해서 문자열로 연결하려면?
print('str(li7[0]) + li7[1] =', str(li7[0])+li7[1])

li7 = [10, 20, 30]
li7[0] + li7[2] = 40
li7 = [10, '🍔', 30]
str(li7[0]) + li7[1] = 10🍔

### 함수와 메소드
아래 예시에서
- 내장 함수 len( ) , sorted()
- 그 외에는 메소드  : 원본 리스트가 변경되나요?
  * 원본리스트 변경 : append() , extend(), pop() , reverse() , sort()
- 리턴이 있는 (원본 리스트는 변경 안됨) : sorted() 함수

### 함수

In [ ]:
li1=[9,1,5,7,3]
print('li1 =', li1)
print('len(li1) :', len(li1))

li1 = [9, 1, 5, 7, 3]
len(li1) : 5

In [ ]:
# 리턴이 있는 (원본 리스트는 변경 안됨) : sorted() 함수
print('li1 =', li1)
print('sorted(li1) =', sorted(li1))
print('li1 =', li1)

li1 = [9, 1, 5, 7, 3]
sorted(li1) = [1, 3, 5, 7, 9]
li1 = [9, 1, 5, 7, 3]

### 메소드

In [ ]:
# append(): 리스트 요소의 끝에 새로운 요소를 추가
li1=[1,3,5,7,9]
print('li1 =', li1)
li1.append(100)
print('li1 =', li1)
# li1.append(200,300,400)  # append 는 인자 1개만
li1.append([200,300,400])  # 리스트 타입 인자
print('li1 =', li1)

li1 = [1, 3, 5, 7, 9]
li1 = [1, 3, 5, 7, 9, 100]
li1 = [1, 3, 5, 7, 9, 100, [200, 300, 400]]

In [ ]:
# extend(): 리스트 요소의 끝에 새로운 여러 요소를 추가
li1=[1,3,5,7,9]
li1.extend([200,300,400])
print('li1 =', li1)

li1 = [1, 3, 5, 7, 9, 200, 300, 400]

In [ ]:
# pop(): 리스트 마지막 요소를 삭제하고 삭제된 요소를 반환
li1=[1,3,5,7,9]
print('li1 =', li1)
print('li1.pop() :', li1.pop())
print('li1 =', li1)
print('li1.pop() :', li1.pop())
print('li1 =', li1)

li1 = [1, 3, 5, 7, 9]
li1.pop() : 9
li1 = [1, 3, 5, 7]
li1.pop() : 7
li1 = [1, 3, 5]

In [ ]:
# index(): 리스트에서 특정 요소 값의 인덱스를 반환
li8 = [10, 20, 30]
print('li8 =', li8)
print('li8.index(30) :', li8.index(30))
# print(li8.index(100)) # 값이 없으면 에러

li8 = [10, 20, 30]
li8.index(30) : 2

In [ ]:
# reverse(): 리스트의 요소들의 순서를 반대로 설정
li8 = [100, 50, 70, 60, 20]
print('li8 =', li8)
li8.reverse()
print('li8 =', li8)

li8 = [100, 50, 70, 60, 20]
li8 = [20, 60, 70, 50, 100]

In [ ]:
# sort(): 리스트의 요소를 오름차순으로 정렬
li8 = [100, 50, 70, 60, 20]
print('li8 =', li8)
li8.sort()
print('li8 =', li8)

li8 = [100, 50, 70, 60, 20]
li8 = [20, 50, 60, 70, 100]

In [ ]:
# sort(reverse=True): 리스트의 요소를 내림차순으로 정렬
li8.sort(reverse=True)
print('li8 =', li8)

[100, 70, 60, 50, 20]

In [ ]:
li9 = ['Apple', 'apple', 'orange', 'banana', 'melon']
li9.sort()
print('li9 =', li9)

li9 = ['Apple', 'apple', 'banana', 'melon', 'orange']

In [ ]:
li9 = ['김🍎', '김🍕', '김🍈', '김🍆', '김🔥']
li9.sort()
print('li9 =', li9)

li9 = ['김🍆', '김🍈', '김🍎', '김🍕', '김🔥']

In [ ]:
for item in li9:
    emoji = item[1]   # '김' 다음 이모지
    print(item, emoji, hex(ord(emoji)))
# ord() 함수는 문자(한글이든 이모지든)를 유니코드 코드 포인트(정수 값)로 바꿀 때
# hex() 함수는 정수값을 16진수로 출력.

김🍆 🍆 0x1f346
김🍈 🍈 0x1f348
김🍎 🍎 0x1f34e
김🍕 🍕 0x1f355
김🔥 🔥 0x1f525

In [ ]:
# sorted(): 리스트 요소를 정렬한 후 새로운 리스트 반환해주는 함수.
li99 = [100, 50, 70, 60, 20]
print('li99 =', li99)

result = sorted(li99)
print('li99 =', li99)   # 기존 리스트는 변경 없음
print('result =', result)

li99 = [100, 50, 70, 60, 20]
li99 = [100, 50, 70, 60, 20]
result = [20, 50, 60, 70, 100]

In [ ]:
# count(): 리스트에서 특정 값의 갯수를 반환
li99 = [10, 20, 30, 50, 20, 40, 30, 20]
print('li99 =', li99)

print('li99.count(20) :', li99.count(20))
print('li99.count(100) :', li99.count(100))

li99 = [10, 20, 30, 50, 20, 40, 30, 20]
li99.count(20) : 3
li99.count(100) : 0

In [ ]:
# 복습
numbers = [100, 50, 70, 60, 20]
# print(numbers[0:5])
print('numbers[:] =', numbers[:])         # [0:5]
print('numbers[::] =', numbers[::])       # step이 생략
print('numbers[0:5:1] =', numbers[0:5:1]) # step의 기본값은 1

numbers[:] = [100, 50, 70, 60, 20]
numbers[::] = [100, 50, 70, 60, 20]
numbers[0:5:1] = [100, 50, 70, 60, 20]

In [ ]:
print('numbers =', numbers)
print('numbers[0:5:2] =', numbers[0:5:2]) # step을 2로 설정

numbers = [100, 50, 70, 60, 20]
numbers[0:5:2] = [100, 70, 20]

In [ ]:
# 슬라이싱을 사용하여 리스트의 요소들의 순서를 반대로 설정하는 방법
numbers = [100, 50, 70, 60, 20]
print('numbers =', numbers)
numbers.reverse()
print('numbers =', numbers)

numbers = [100, 50, 70, 60, 20]
numbers = [20, 60, 70, 50, 100]

In [ ]:
# ※ step이 -1일 경우 start의 기본값은 -1, stop의 기본값은? None
print('numbers[1::-1] =', numbers[1::-1])
print('numbers[:0:-1] =', numbers[:0:-1])
print('numbers[::-1] =', numbers[::-1])

numbers[1::-1] = [60, 20]
numbers[:0:-1] = [100, 50, 70, 60]
numbers[::-1] = [100, 50, 70, 60, 20]

In [ ]:
# ※ 자주 사용됨.
print('numbers[::-1] =', numbers[::-1])
print('numbers[-1:None:-1] =', numbers[-1:None:-1])

numbers[::-1] = [100, 50, 70, 60, 20]
numbers[-1:None:-1] = [100, 50, 70, 60, 20]

In [ ]:
# 결론 : 문자열 또는 리스트 모두 슬라이싱 기본값
# 형식  [start:stop:step] , [::step] , [start::step], [:stop:step]
#       [start:stop] , [:] , [start:], [:stop]
#     step 이 양수,음수에 따라 다르다. step 기본값은 1
# 양수 : start 는 0, stop 은 len()
# 음수 : start 는 -1, stop 은 None