<a href="https://colab.research.google.com/github/suyoung0211/python/blob/main/I_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### while
- 반복 블록은 들여쓰기 형식 사용
- 반복 while 문 끝은 :

In [ ]:
i=1
sum=0
end = 100
while i<=end:
  sum +=i
  i+=1
  print(f'i={i}')

print(f'1부터 {end} 까지의 합 = {sum}')

i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10
i=11
i=12
i=13
i=14
i=15
i=16
i=17
i=18
i=19
i=20
i=21
i=22
i=23
i=24
i=25
i=26
i=27
i=28
i=29
i=30
i=31
i=32
i=33
i=34
i=35
i=36
i=37
i=38
i=39
i=40
i=41
i=42
i=43
i=44
i=45
i=46
i=47
i=48
i=49
i=50
i=51
i=52
i=53
i=54
i=55
i=56
i=57
i=58
i=59
i=60
i=61
i=62
i=63
i=64
i=65
i=66
i=67
i=68
i=69
i=70
i=71
i=72
i=73
i=74
i=75
i=76
i=77
i=78
i=79
i=80
i=81
i=82
i=83
i=84
i=85
i=86
i=87
i=88
i=89
i=90
i=91
i=92
i=93
i=94
i=95
i=96
i=97
i=98
i=99
i=100
i=101
1부터 100 까지의 합 = 5050

In [ ]:
i=1
sum=0
end = 100
while i<=end:
  # i 값이 짝수이면
  if i % 2 ==0:
    sum +=i  # 누적더하기
    print(f'i={i}')
  i+=1

print(f'1부터 {end} 까지의 짝수의 합 = {sum}')

i=2
i=4
i=6
i=8
i=10
i=12
i=14
i=16
i=18
i=20
i=22
i=24
i=26
i=28
i=30
i=32
i=34
i=36
i=38
i=40
i=42
i=44
i=46
i=48
i=50
i=52
i=54
i=56
i=58
i=60
i=62
i=64
i=66
i=68
i=70
i=72
i=74
i=76
i=78
i=80
i=82
i=84
i=86
i=88
i=90
i=92
i=94
i=96
i=98
i=100
1부터 100 까지의 짝수의 합 = 2550

In [ ]:
# 구구단 숫자 2 ~ 9 중 하나를 입력 받아서
# 예시 : 3 입력 3x1=3, 3x2=6, 3x3=9, ... 3x9=27 출력하기
number=input("구구단 숫자 입력 >>>> ")
i=1
while i<10:
  print(f'{number} x {i} ={int(number)*i:>3}')
  i+=1

구구단 숫자 입력 >>>> 6
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

### for
- 파이썬에서는 iterable 객체를 대상으로 합니다.
- for a in list_test:<br>
  &ensp;요소대입변수명 in iterable 객체
- iterable 객체를 대신해서 `시퀀스를 만드는 range()` 함수 사용도 많이 합니다.

In [ ]:
for s in 'Hello':
  print(s,hex(ord(s)))

H 0x48
e 0x65
l 0x6c
l 0x6c
o 0x6f

## range() 함수

- 파이썬에서 순차적인 정수의 시퀀스(순서를 갖는 객체) 를 생성하는 데 사용되는 내장 함수입니다.  
- 주로 for 문과 함께 사용
- range() 함수의 반환값은 range 객체이며 결과로 생성되는 순차적인 정수 시퀀스는 실제로 메모리에 저장되지 않고 필요할 때마다 생성되므로, 큰 범위의 반복문에도 효율적으로 사용할 수 있습니다.

- range([start], stop, [step])

    * start (선택 사항): 순차적인 범위의 시작 값을 지정합니다. 기본값은 0
    * stop: 순차적인 범위의 끝 값을 지정합니다. 생성된 시퀀스는 stop 값 직전까지의 정수를 포함합니다.
    * step (선택 사항): 순차적인 값을 증가시키는 간격. 기본값은 1.

In [ ]:
for i in range(10):
  print(i,end=" ")
print()
print(type(range(10)))  # <class 'range'> 이터러블 객체

0 1 2 3 4 5 6 7 8 9
<class 'range'>

In [ ]:
# 자바 : for(i=1;i<10;i+=2) 에 해당하는 for문 작성에서 i를 출력하기
for i in range(1,10,2):
  print(i,end=" ")

1 3 5 7 9

## enumerate() 함수
- enumerate() 함수는 파이썬에서 반복문을 사용할 때 인덱스와 값을 함께 가져오기 위해 사용되는 내장 함수입니다.
- enumerate() 함수는 (인덱스, 값)의 튜플을 반환하는 이터레이터(iterator)를 생성합니다.

 * Iterable(반복 가능 객체): 리스트, 튜플, 딕셔너리, 문자열과 같은 컬렉션 자료형은 반복 가능한 객체로, 반복자를 생성할 수 있습니다.
 * Iterator(이터레이터): 반복자(者). 이터러블 객체에서 iter() 함수를 호출해 얻을 수 있으며, next() 함수를 사용해 요소를 하나씩 순차적으로 접근합니다.

In [ ]:
# 반복자(역할) 생성
itr = iter('Hello Python!')
itr

In [ ]:
# 반복(iterable)객체 요소를 순차적으로 접근하는 next() 함수 실행
# 인자는 반복자 객체
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
# next() 함수가 더 이상 가져올 요소가 없으면 : StopIteration (반복 중지 오류)

H
e
l
l
o

In [ ]:
# enumerate() 함수는 반복 객체 요소의 인덱스 필요시
# 시작 인덱스 0 기본값
for e in enumerate('hello python'):
  print(e)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'p')
(7, 'y')
(8, 't')
(9, 'h')
(10, 'o')
(11, 'n')

In [ ]:
# enumerate() 함수는 반복 객체 요소의 인덱스 필요시
# 시작 인덱스 1 지정
for e in enumerate('hello python',1):
  print(e)

(1, 'h')
(2, 'e')
(3, 'l')
(4, 'l')
(5, 'o')
(6, ' ')
(7, 'p')
(8, 'y')
(9, 't')
(10, 'h')
(11, 'o')
(12, 'n')

In [ ]:
# e 요소값 중에서 인덱스, 요소 각각 출력하고 싶다면
for e in enumerate('hello python'):
  print('인덱스 =',e[0],end=' ')
  print('요소값 =',e[1])

인덱스 = 0 요소값 = h
인덱스 = 1 요소값 = e
인덱스 = 2 요소값 = l
인덱스 = 3 요소값 = l
인덱스 = 4 요소값 = o
인덱스 = 5 요소값 =
인덱스 = 6 요소값 = p
인덱스 = 7 요소값 = y
인덱스 = 8 요소값 = t
인덱스 = 9 요소값 = h
인덱스 = 10 요소값 = o
인덱스 = 11 요소값 = n

In [ ]:
# 위에서 튜플 타입 e 를 언팩킹 출력
for i,v in enumerate('hello python'):
  print(i,v)

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

### zip() 함수
- zip() 함수는 파이썬에서 여러 개의 반복 가능한(iterable) 객체를 병렬적으로 묶어주는 내장 함수입니다. 각 객체로부터 순서대로 하나의 요소씩 가져와 `튜플로 묶어주는` 이터레이터를 반환합니다. 주로 여러 개의 리스트나 튜플을 병렬적으로 처리하고자 할 때 사용됩니다.
- zip(iterable1, iterable2, ...) : 2개 이상의 반복 객체를 대상으로 합니다.

In [ ]:
test1 = [100,101,102,103]
test2 = ['apple','banana','orange','melon']

# zip 함수 없이 for문 하나로 2개의 리스트에서 순차적 값 가져오기
# 자바 : for(i=0;i<test1.size();i++) . 파이썬은 X
for i in range(len(test1)):
  print(test1[i],test2[i])
# test1 의 갯수가 더 많으면 오류

100 apple
101 banana
102 orange
103 melon

In [ ]:
test1 = [100,101,102,103]
test2 = ['apple','banana','orange','melon']
for item in zip(test1,test2):
  print(item)

(100, 'apple')
(101, 'banana')
(102, 'orange')
(103, 'melon')

In [ ]:
# 위에서 item 은 tuple
# 각각 데이터를 접근하기 위해서는 언팩킹을 더 많이 사용
for t1,t2 in zip(test1,test2):
  print(t1, t2)

100 apple
101 banana
102 orange
103 melon

In [ ]:
# 퀴즈 : test3 =['🍒','🍉','🍆','🍈']
# zip 함수로 3개의 반복객체 값을 가져오기
# 순서대로 같은 위치의 요소값 출력(튜플 또는 언패킹 사용)
# 튜플
test3 =['🍒','🍉','🍆','🍈']
for item in zip(test1,test2,test3):
  print(item)
# 언패킹
for t1,t2,t3 in zip(test1,test2,test3):
  print(t1,t2,t3)

(100, 'apple', '🍒')
(101, 'banana', '🍉')
(102, 'orange', '🍆')
(103, 'melon', '🍈')
100 apple 🍒
101 banana 🍉
102 orange 🍆
103 melon 🍈

In [ ]:
# 오류 : 언패킹 저장 변수 갯수 일치해야함.
for t1,t2 in zip(test1,test2,test3):
  print(t1,t2)