<a href="https://colab.research.google.com/github/suyoung0211/Python/blob/main/J_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9D%98_%EB%B0%98%EB%B3%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 컬렉션과 for
- 컬렉션 : 많은 데이터들을 저장하는 자료구조 -> 반복 필수
- list, tuple, set, dict : 반복 객체
  * list,tuple : 순서가 있음. 인덱싱/슬라이싱을 할 수 있음.
  * tuple : 요소를 변경할 수 없는 불변객체.
  * set : 요소를 변경할 수 있으나 저장데이터는 반드시 불변 객체
  * dict : key,value 한쌍의 요소. key 는 불변 객체
    - only key, only value , key,value 한쌍 들을 각각 가져오는 메소드 -> 리스트 같은 iterable 리턴합니다.

In [ ]:
scores1 = [77,88,69,100,80] #list
scores2 = (77,88,69,100,80) #tuple
scores3 = {77,88,69,100,80} #set

In [ ]:
for s in scores1:
  if s>=80:
    print(f'점수 : {s:3} ✅')
  else:
    print(f'점수 : {s:3} ❌')

점수 :  77 ❌
점수 :  88 ✅
점수 :  69 ❌
점수 : 100 ✅
점수 :  80 ✅

In [ ]:
# scores1 - list
for i in range(len(scores1)):
  print(f'값은 {scores1[i]}')

값은 77
값은 88
값은 69
값은 100
값은 80

In [ ]:
# scores2 - tuple
for i in range(len(scores1)):
  print(f'값은 {scores2[i]}')

값은 77
값은 88
값은 69
값은 100
값은 80

In [ ]:
# scores3 - set
# 오류 : TypeError: 'set' object is not subscriptable
# set 은 인덱스 사용 불가
for i in range(len(scores1)):
  print(f'값은 {scores3[i]}')

In [ ]:
# enumerate 를 이욯아면 set 도 인덱스 임의 부여
for ele in enumerate(scores3):
  print(ele)

(0, 80)
(1, 100)
(2, 69)
(3, 88)
(4, 77)

- dict 와 for

In [ ]:
dic1={'no':111, 'userid':'momo', 'name':'김모모'}
# 1. key 만 가져옵니다.
for d in dic1:
  print('key =',d)
  print('value =',dic1[d]) # dic1[key] key 값으로 value 가져오기

key = no
value = 111
key = userid
value = momo
key = name
value = 김모모

In [ ]:
# 2. value 만 가져와서 iterable 객체 생성
for v in dic1.values():
  print("value=",v)

value= 111
value= momo
value= 김모모

In [ ]:
# 3. key-value 한쌍 가져와서 iterable 객체 생성
# 튜플 언팩킹
for k,v in dic1.items():
  print("key=",k,"value=",v)

key= no value= 111
key= userid value= momo
key= name value= 김모모

### 컴프리헨션(Comprehension)
- iterable 객체로 연산,함수 등 표현식을 사용하여 새로운 iterable 객체(컬렉션)를 생성
- for 문을 한 줄 형식으로 작성(inline loop) : 가독성과 실행 속도를 높여 줄수 있는 기능
  ```
  [변수를 사용한 표현식 for 변수 in 반복 가능한 객체]
  ```
  + 기호 [ ] 새로운 리스트가 생성되는 의미
  + 기호 { } 새로운 set 또는 dict 생성
  + 기호 ( ) 새로운 tuple 생성이 아님. 제너레이터 객체 생성 후 지연평가로 값 생성

- 리스트 컴프리헨션

In [ ]:
names = ['momo','twice','nayeon','honey']
new_list = [len(s) for s in names]
print(new_list)

[4, 5, 6, 5]

In [ ]:
# 위 inline 형식을 실행하는 for문
new_list2 = []
for s in names:
  new_list2.append(len(s))
new_list2

[4, 5, 6, 5]

- set 컴프리헨션

In [ ]:
names = ['momo','twice','nayeon','honey']
new_set = {len(s) for s in names}
print(new_set)

{4, 5, 6}

In [ ]:
# 위 inline 형식을 실행하는 for문
new_list2 = set()
for s in names:
  new_list2.add(len(s))
new_list2

{4, 5, 6}

- tuple 컴프리헨션
: 위의 리스트,set 대신에 튜플 기호 () 사용하면 어떤결과일까요?

In [ ]:
names = names = ['momo','twice','nayeon','honey']
gen = (len(s) for s in names)
gen
# 리스트 names 의 각 요소에 대해 len(s) 를 계산하는 제너레이터 객체를 생성
# ( ) 는 불변객체 튜플 기호 : for 를 순회하면서 만든 len(s) 값을 기존 컬렉션에
# 추가해야하는데 불변객체는 추가 동작 못함
# 그래서 제너레이터 객체를 사용

In [ ]:
# 제너레이터는 for, list(), set(), tuple() 함수를 이용하여 값을 저장
# 지연평가
new_tuple = tuple(gen)
new_tuple

(4, 5, 6, 5)

In [ ]:
# 제너레이터로 다른 함수도 사용해보기
# 특징 : 값 순회를 한번만 사용할 수 있음
list(gen)

[]

In [ ]:
# 컴프리헨션으로 tuple 만들기 : tuple() 함수 꼭 필요
# tuple 이 불변객체라 generator 로 생성
new_tuple2 = tuple(len(s) for s in names)
new_tuple2

(4, 5, 6, 5)

-  dict 컴프리헨션

In [ ]:
names = ['momo','twice','nayeon','honey']
new_dict = {d:len(d) for d in names}
#  key 는 이름, value 는 len(이름)
new_dict

{'momo': 4, 'twice': 5, 'nayeon': 6, 'honey': 5}

In [ ]:
# 퀴즈 1 : 아래와 같은 2개의 리스트를 이용하여 새로운 리스트를 [결과]와 같이
#  만들어 보세요. zip() 함수 사용. 언팩킹.컴프리헨션 결과는 dict의 list
userids = ['twice', 'wonder', 'orange']
ages=    [17,24,20]

In [ ]:
nwlist = [{'userids':u,'age':a} for u,a in zip(userids,ages)]
nwlist

[{'userids': 'twice', 'age': 17},
 {'userids': 'wonder', 'age': 24},
 {'userids': 'orange', 'age': 20}]

In [ ]:
# 결과 :
# [ {'userid': 'twice', 'age': 17},
#   {'userid': 'wonder', 'age': 24},
#   {'userid': 'orange', 'age': 20}]

In [ ]:
# 퀴즈 : 2 .
# ['user1','user2','user3','user4',,,,'user9'] 리스트 생성하기.
# range() 사용한 컴프리헨션.
nwlist2 = [f'user{i}' for i in range(1,10)]
nwlist2

['user1',
 'user2',
 'user3',
 'user4',
 'user5',
 'user6',
 'user7',
 'user8',
 'user9']