<a href="https://colab.research.google.com/github/suyoung0211/Python/blob/main/N_%EC%BD%9C%EB%B0%B1%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 콜백 함수
- 어떤 함수의 인자로 사용되는 함수.
- 내부 함수로 호출
- 외부 함수가 실행되는 시점에 결정
- sortedm filter, map 내장 함수는 콜백 함수 사용(인자가 함수)

In [1]:
# 사용자 정의함수 예시
# - 매개 변수가 함수

def task_func(func):
  for i in range(5):    # i = 0, 1, 2, 3, 4 순서로 실행
    func()    # 이 함수는 콜백함수로 task_fucn 이 실행되는 시점에 결정

def print_hello():
  print('hello')

def print_hi():
  print('hi')

task_func(print_hello)    # 함수의 참조값을 인자로 전달
task_func(print_hi)    # 함수의 참조값을 인자로 전달

hello
hello
hello
hello
hello
hi
hi
hi
hi
hi

In [12]:
# 콜백함수가 인자가 있을 때
# func 함수의 인자는 1개 필요 - 임의로 지정
def task_func(func):
  for i in range(5):    # i = 0, 1, 2, 3, 4 순서로 실행
    func(i)    # 이 함수는 콜백함수로 task_fucn 이 실행되는 시점에 결정

# func 함수의 인자는 1개 필요 - 외부 함수가 인자로 받음
def task_func2(func,num):
  for i in range(5):    # i = 0, 1, 2, 3, 4 순서로 실행
    func(num)    # 이 함수는 콜백함수로 task_fucn 이 실행되는 시점에 결정

def print_hello(num):
  print('hello🌟',num)

def print_hi(num):
  print('hi🌟',num)

In [14]:
# task_func 실행
# func 함수의 인자는 1개 필요 - 임의로 지정
task_func(print_hello)            # 함수의 참조값을 인자로 전달
task_func(print_hi)               # 함수의 참조값을 인자로 전달

hello🌟 0
hello🌟 1
hello🌟 2
hello🌟 3
hello🌟 4
hi🌟 0
hi🌟 1
hi🌟 2
hi🌟 3
hi🌟 4

In [15]:
# task_func2 실행
# func 함수의 인자는 1개 필요 - 외부 함수가 인자로 받음
task_func2(print_hello,'ddd')     # 함수의 참조값을 인자로 전달
task_func2(print_hi,3)            # 함수의 참조값을 인자로 전달

hello🌟 ddd
hello🌟 ddd
hello🌟 ddd
hello🌟 ddd
hello🌟 ddd
hi🌟 3
hi🌟 3
hi🌟 3
hi🌟 3
hi🌟 3

### 람다함수(lambda function)
- 자바스크립트의 화살표 함수. 자바에서는 함수형 인터페이스의 람다식과 같은 동작

In [21]:
# 제곱근
def square(x):
  return x**2   # x의 2승 리턴

print(square(5))

25

In [17]:
# 람다함수로 만들기. return 키워드 생략
# 인자:리턴값
# new_sqare 는 익명의 람다함수를 참조 변수. 함수 이름처럼 사용
new_sqare = lambda x:x**3
print(new_sqare(3))

27

In [23]:
# square 변수가 다른 함수를 참조합니다.
square = lambda x:2**x
print(square(5))

32

In [24]:
# 익명 함수(1회용 함수)
(lambda x:x*11)(5)

55

### 콜백 함수 예시
- sorted 함수 : 딕셔너리 자료구조를 정렬할 때 사용

In [25]:
# sorted(리스트) : 문자열, 정수, 실수 값의 리스트는 바로 정렬할 수 있음.
names = ['honey','momo','iu','nana']
new_names = sorted(names)
new_names

['honey', 'iu', 'momo', 'nana']

In [28]:
# 딕셔너리 여러개의 key 를 갖고 있음.
# 어떤 key로 정렬할 것인지를 콜백함수로 정의.
peoples = [
    {'name':'이하니', 'age':30},
    {'name':'김모모', 'age':20},
    {'name':'최나나', 'age':25}
]

# sorted(peoples)
# TypeError: '<' not supported between instances of 'dict' and 'dict'

In [35]:
# sorted(리스트, key=콜백함수). 콜백함수는 지정된 key 값을 리턴.
def sort_age(x):    # x 는 딕셔너리 1개(리스트 요소)
  return x['age']

def sort_name(x):
  return x['name']

sorted(peoples, key=sort_age)   # 새로운 정렬된 리스트 리턴

[{'name': '김모모', 'age': 20},
 {'name': '최나나', 'age': 25},
 {'name': '이하니', 'age': 30}]

In [36]:
sorted(peoples, key=sort_name)   # 새로운 정렬된 리스트 리턴

[{'name': '김모모', 'age': 20},
 {'name': '이하니', 'age': 30},
 {'name': '최나나', 'age': 25}]

In [37]:
# sorted(리스트, key=람다함수)
sorted(peoples, key=lambda x:x['age'])

[{'name': '김모모', 'age': 20},
 {'name': '최나나', 'age': 25},
 {'name': '이하니', 'age': 30}]

In [38]:
# sorted(리스트, key=람다함수, reverse=True) : 역순 정렬
sorted(peoples, key=lambda x:x['age'], reverse=True)

[{'name': '이하니', 'age': 30},
 {'name': '최나나', 'age': 25},
 {'name': '김모모', 'age': 20}]

### filter() 와 map()
- 리스트와 같은 iterable 를 대상으로 합니다. 리턴 타입이 list 는 아님
- 리턴 타입은 filter, map 클래스 타입. 특징은 iterable(반복, 순회) 객체
- 리턴 값은 한번만 사용(소비)

- filter() 함수는 리스트에서 콜백함수 조건이 참인 것만 순회하는 객체 리턴
  - 새로운 list 를 생성하고 싶으면 list(filter(생략))
- map() 함수는 리스트 요소값을 수식 또는 함수에 대입한 새로운 결과값으로 순회하는 객체 리턴
  - 새로운 list 를 생성하고 싶으면 list(map(생략))

In [39]:
# 필터링할 리스트
li = [2, 5, 7, 10, 0, 17, 20, 32, 25, 28]

# 필터링할 콜백 함수
def even(n):    # n 은 리스트 요소 값이 순서 대입
  if n%2==0:
    return True
  else:
    return False

In [41]:
result = filter(even, li)
print(type(result))
result # <filter at 0x7a1fd23aa3b0> : filter 클래스 타입 객체

<class 'filter'>

In [42]:
for v in result:    # result 는 짝수만 필터링한 iterable
  print(v)          # 짝수만 출력

2
10
0
20
32
28

In [43]:
list(result)    # result iterable 객체로 list 를 생성

# 위의 for 와 list 생성자 중에 순서에 따라 두번째 result 는 비어있습니다.
# -> 한번만 순회하고 끝

[]

In [44]:
# list(filter(람다함수, 리스트))
list(filter(lambda n:n%2==0,li))
# li 요소값을 순서대로 n 에 대입 -> 참 리턴되는 n 만 순회하는 filter 객체 생성

[2, 10, 0, 20, 32, 28]

In [46]:
# 홀수만 필터링한 리스트
# list(filter(lambda n:n%2!=0,li))
list(filter(lambda n:n%2,li))

[5, 7, 17, 25]

In [47]:
# 퀴즈 :10 이상인 값만 필터링한 리스트
list(filter(lambda x:x>=10,li))

[10, 17, 20, 32, 25, 28]

In [55]:
from os import name
# 퀴즈 : 문자열 리스트
# 양쪽 공백을 제거하고 이름이 4글자 미만인 것만 가져와 리스트 만들기
names =  ['Alice', 'Bob', '  ', '', 'Eve']
# 공백만 있는 또는 빈 문자열은 제거 하고 리스트 리턴
list(filter(lambda x:len(x.strip())<4,names))

['Bob', '  ', '', 'Eve']