<a href="https://colab.research.google.com/github/suyoung0211/Python/blob/main/O_%EA%B0%80%EB%B3%80%EB%A7%A4%EA%B0%9C%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###  가변매개변수
- 정해지지 않은 갯수, 이름의 인자를 함수가 받을 수 있도록 함
- 시퀀스 매개변수 : *
  + 튜플 형식. 정해지지 않은 갯수로 인자를 받을 수 있음
- 키워드 매개변수 : **
  + 매개변수이름=값, 딕셔너리 형식. 정해지지 않은 이름의 인자를 받을 수 있음

In [ ]:
def test_func(*args):
  print(type(args))
  for i,v in enumerate(args):
    print(i,':',v)
  return args

# 인자의 갯수가 가변적인 함수 호출
# 인자 값의 나열 -> 시퀀스 매개변수
print(test_func(10,20,30,40))
print(test_func(10,20,30))
print(test_func(10,20))
print(test_func(10))
print(test_func())

<class 'tuple'>
0 : 10
1 : 20
2 : 30
3 : 40
(10, 20, 30, 40)
<class 'tuple'>
0 : 10
1 : 20
2 : 30
(10, 20, 30)
<class 'tuple'>
0 : 10
1 : 20
(10, 20)
<class 'tuple'>
0 : 10
(10,)
<class 'tuple'>
()

In [ ]:
# 키워드 매개변수
# 매개변수 이름이 정해지지 않은 형식의 함수
def test2_func(**kwargs):
  print(type(kwargs))   # <class 'dict'>
  print(kwargs)
  for key,value in kwargs.items():
    print(f'{key} : {value}')

test2_func(name='momo',age=30,city='서울')

<class 'dict'>
{'name': 'momo', 'age': 30, 'city': '서울'}
name : momo
age : 30
city : 서울

In [ ]:
test2_func(korean=99,english=44,math=66)

<class 'dict'>
{'korean': 99, 'english': 44, 'math': 66}
korean : 99
english : 44
math : 66

###  참고
- 파이썬 함수는 리턴값을 여러개 나열하여 패킹한 튜플 형식으로 전달

In [ ]:
def arith(num1,num2):
  return num1+num2, num1-num2, num1*num2

result = arith(10,11)
# a,b,c = arith(10,11)   # 언팩킹하여 변수 저장.
print(type(result))
result

<class 'tuple'>

(21, -1, 110)