<a href="https://colab.research.google.com/github/suyoung0211/python/blob/main/F_collectiontype_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플
- 불변객체 리스트
- 리스트와의 차이점 : 추가 / 수정 / 삭제 불가능
- 기호는 소괄고 ()
- 딥러닝 / 머신러닝에서 많이 사용됩니다.

In [ ]:
(1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
print(type((1, 2, 3, 4)))

<class 'tuple'>

In [ ]:
tu1 = (1)
print(type(tu1))

<class 'int'>

In [ ]:
# 1개의 요소를 갖는 튜플
tu1 = (1,)
print(type(tu1))

<class 'tuple'>

### 인덱싱과 슬라이싱
- 요소값을 변경 시켜주는 구문은 오류
- 일반적인 가져오는 구문은 리스트와 동일

In [ ]:
tu1 = (1, 3, 5, 7)
tu1[2]

5

In [ ]:
tu1[2] = 10 # TypeError: 'tuple' object does not support item assignment

In [ ]:
tu1[1:3]

(3, 5)

- 리스트를 튜플로 변환
  * tuple( ) 생성자 함수 사용

In [ ]:
tu2 = tuple([1, 2, 3, 4])
print(tu2)

(1, 2, 3, 4)

### 패킹과 언패킹
- 튜플 정의 할 때 ( ) 생략 가능
  * 패킹(packing) : 변수 또는 값을 나열하여 하나의 변수에 대입하여 튜플 생성
  * 언패킹(unpacking) : 튜플의 항목들을 순차적으로 여러 변수에 대입하는 구문

In [ ]:
# 패킹
tu3 = 1, 3, 5, 7, 9
tu3

(1, 3, 5, 7, 9)

In [ ]:
# 언패킹
n1, n2, n3, n4, n5 = tu3
print(n1,n2,n3,n4,n5)

1 3 5 7 9

In [ ]:
# 리스트의 언패킹
n1, n2, n3, n4, n5 = [11, 33, 55, 77, 99]
print(n1,n2,n3,n4,n5)

11 33 55 77 99

- 튜플 연결(+), 반복(*), 연산 가능 : 새로운 튜플 리턴
- 리스트의 sort( ) 메소드는 불변 객체이므로 사용 못함
- sorted( ) 함수는 새로운 리스트, 튜플 리턴하므로 사용 가능

### 멤버십 연산
- in 연산자 : 리스트와 튜플에서 사용. 특정값이 요소에 포함되어 있는지 확인

In [ ]:
print(2 in [2,4,6,8,10])
print(7 in [2,4,6,8,10])
print(4 in (2,4,6,8,10))
print(5 in (2,4,6,8,10))

True
False
True
False