<a href="https://colab.research.google.com/github/suyoung0211/python/blob/main/G_collectiontype_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 딕셔너리
- 기호는 { } 사용
- 자바 Map, json 자바스크립트 객체와 유사한 타입 : key 와 value 한 쌍으로 저장
- 가변 객체

In [ ]:
dic1 = {}
print(type(dic1))

<class 'dict'>

In [ ]:
# dic1[key]=값
# ↪ 새로운 항목이 저장 또는 기존 key 의 값을 변경
dic1['name']='김모모'  # 새로운 항목
dic1['age']=23
dic1

{'name': '김모모',
 'age': 23,
 10: 3.4,
 3.14: 'Pi',
 (1, 2, 3): 'test1',
 True: 'test3'}

In [ ]:
dic1['name']='이하니'  # 기존 key 의 값을 변경

In [ ]:
# key 로 value 가져오기
print("dic1['name'] =",dic1['name'],
      "dic1['age'] =",dic1['age'],
      "dic1[(1,2,3)] =",dic1[(1,2,3)])
dic1

dic1['name'] = 이하니 dic1['age'] = 23 dic1[(1,2,3)] = test1

{'name': '이하니',
 'age': 23,
 10: 3.4,
 3.14: 'Pi',
 (1, 2, 3): 'test1',
 True: 'test3'}

- key 의 타입은 반드시 불변객체
  * key 로 사용 가능한 타입 : 정수, 실수, boolean, 문자열, 튜플, set

In [ ]:
dic1[10]=3.4
dic1

{'name': '김모모', 'age': 23, 10: 3.4}

In [ ]:
dic1[3.14]='Pi'
dic1

{'name': '김모모', 'age': 23, 10: 3.4, 3.14: 'Pi'}

In [ ]:
dic1[(1,2,3)]='test1'
dic1

{'name': '김모모', 'age': 23, 10: 3.4, 3.14: 'Pi', (1, 2, 3): 'test1'}

In [ ]:
# key 의 타입이 가변객체이면 오류 => TypeError: unhashable type: 'list'
dic1[[1,2,3]]='test2'
dic1

In [ ]:
dic1[True]='test3'
dic1

{'name': '김모모',
 'age': 23,
 10: 3.4,
 3.14: 'Pi',
 (1, 2, 3): 'test1',
 True: 'test3'}

In [ ]:
# 퀴즈
exam = {'name':'이하니',
        'menu':['🍈','🍕','🍎','🍒'],
        'color':{'red':'💗','blue':'💙','green':'💚'}
      }

In [ ]:
# '🍎' 를 가져와서 출력하세요
print(exam['menu'][2])

# '💙' 를 가져와서 출력하세요
print(exam['color']['blue'])

# '🍎' 를 '🌊' 로 변경하세요.
exam['menu'][2] = '🌊'
print("exam['menu'] =",exam['menu'])
print(exam)

# '💙' 를 '🍀' 로 변경하세요.
exam['color']['blue'] = '🍀'
print("exam['color'] =",exam['color'])
print(exam)

🍎
💙
exam['menu'] = ['🍈', '🍕', '🌊', '🍒']
{'name': '이하니', 'menu': ['🍈', '🍕', '🌊', '🍒'], 'color': {'red': '💗', 'blue': '💙', 'green': '💚'}}
exam['color'] = {'red': '💗', 'blue': '🍀', 'green': '💚'}
{'name': '이하니', 'menu': ['🍈', '🍕', '🌊', '🍒'], 'color': {'red': '💗', 'blue': '🍀', 'green': '💚'}}

In [ ]:
exam2 = {'name':'이하니',
        'menu':('🍈','🍕','🍎','🍒'),
        'color':{'red':'💗','blue':'💙','green':'💚'}
      }

In [ ]:
exam2['menu'][2] = '🌊' # TypeError: 'tuple' object does not support item assignment

### 주요 메서드
- dic.keys() : key 만 모아서 list 타입 dict_keys 객체 리턴
- dic.values() : value 만 모아서 list 타입 dict_values 객체 리턴
- dic.items() : key-value 한쌍으로 튜플 생성하고 모아서 list 타입 dict_items 객체 리턴
- sorted 함수만 사용 가능 : key 값의 타입 모두 같을 때 key 값을 기준으로 정렬 가능

In [ ]:
print(type(exam2.keys()))
print(exam2.keys())

<class 'dict_keys'>
dict_keys(['name', 'menu', 'color'])

In [ ]:
print(type(exam2.values()))
print(exam2.values())

<class 'dict_values'>
dict_values(['이하니', ('🍈', '🍕', '🍎', '🍒'), {'red': '💗', 'blue': '💙', 'green': '💚'}])

In [ ]:
print(type(exam2.items()))
print(exam2.items())

<class 'dict_items'>
dict_items([('name', '이하니'), ('menu', ('🍈', '🍕', '🍎', '🍒')), ('color', {'red': '💗', 'blue': '💙', 'green': '💚'})])

In [ ]:
# key 만 모아서 정렬. list 객체리턴
print(type(sorted(exam2)))
sorted(exam2)

<class 'list'>

['color', 'menu', 'name']

- key 값으로 값을 가져오는 메소드

In [ ]:
sample = {'name':'김모모', 'age':23, 'color':'red' }

In [ ]:
print("sample['name'] =",sample['name'])

sample['name'] = 김모모

In [ ]:
# 없는 key 값으로 가져오려는 시도
print(sample['height'])  # KeyError: 'height'

In [ ]:
# 없는 key 값을 다른 값으로 대체할 수 있는 메소드
print("sample.get('height') =",sample.get('height')) # 오류 ❌

sample.get('height') = None

In [ ]:
print("sample.get('name') =",sample.get('name'))

sample.get('name') = 김모모

In [ ]:
# 값이 없으면 0 이 나오도록 설정
print("sample.get('height') =",sample.get('height',0))

sample.get('height') = 0

In [ ]:
# 지정된 key 항목을 삭제. value 리턴.
print(sample.pop('name')) # 삭제할 항목 출력
print('sample =',sample)

김모모
sample = {'age': 23, 'color': 'red'}

In [ ]:
# 없는 key 삭제시 오류
sample.pop('weight')  # KeyError: 'weight'

In [ ]:
# dict 의 멤버십 연산자 in
print('weight' in sample) # False
if 'weight' in sample:
  print('weight key가 있습니다.')
  sample.pop('weight')

False

In [ ]:
key='color'
if key in sample:
  print(key +'  있습니다.')
  print(sample.pop(key))

color  있습니다.
red

In [ ]:
sample

{'age': 23}

In [ ]:
name = input('이름을 입력하세요. >>>> ')
name

이름을 입력하세요. >>>> 김모모

'김모모'

In [ ]:
age = input('나이를 입력하세요. >>>> ')
print('type(age) :',type(age))   # str
print('type(int(age)) :',type(int(age)))  # int
# input 으로 입력값을 받으면 string 으로 받음

나이를 입력하세요. >>>> 23
type(age) : <class 'str'>
type(int(age)) : <class 'int'>